{{ header }}{{ column_left }}
<div id="content">
  	<div class="page-header">
	    <div class="container-fluid">
			<h1>{{ heading_title }}</h1>
			<ul class="breadcrumb">
			{% for breadcrumb in breadcrumbs %}
				<li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
			{% endfor %}
			</ul>
		</div>
  	</div>
  	<div class="container-fluid">
		{% if error_warning %}
		    <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
	      		<button type="button" class="close" data-dismiss="alert">&times;</button>
		    </div>
	    {% endif %}
	    {% if success %}
		    <div class="alert alert-success alert-dismissible"><i class="fa fa-check-circle"></i> {{ success }}
		      	<button type="button" class="close" data-dismiss="alert">&times;</button>
		    </div>
	    {% endif %}
	    <div class="row">
	    	{# Start Sidebar Actions #}
			<div id="sidebar-upload" class="col-md-3 col-md-push-9 col-sm-12">
				<div class="panel panel-default">
				  	<div class="panel-heading">
				    	<h3 class="panel-title"><i class="fa fa-filter"></i> {{ entry_action_heading }}</h3>
				  	</div>
				  	<div class="panel-body">
					    <div class="form-group text-right">
					      	<button type="button" id="button-filter" class="btn btn-primary"><i class="fa fa-save"></i> {{ post_id ? update_button : save_button }}</button>
					      	{% if ( post_id ) %}
					      		<button type="button" data-toggle="tooltip" title="{{ button_delete }}" class="btn btn-danger" onclick="confirm('{{ text_confirm }}') ? $('#form-upload').submit() : false;"><i class="fa fa-trash-o"></i></button>
					      	{% endif %}
					    </div>
				  	</div>
				</div>
			</div>
			{# End Sidebar Actions #}
			{# Main Panel #}
			<div class="col-md-9 col-md-pull-3 col-sm-12">
		    	<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title"><i class="fa fa-list"></i> {{ post_id ? entry_edit_post_text : entry_add_post_text }}</h3>
					</div>
					<div class="panel-body">
						<form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-product" class="form-horizontal">
							<ul class="nav nav-tabs">
					            <li class="active"><a href="#tab-general" data-toggle="tab">{{ tab_general }}</a></li>
					            <li><a href="#tab-seo" data-toggle="tab">{{ tab_seo }}</a></li>
				          	</ul>
							<div class="tab-content">
								{# panel-general #}
								<div class="tab-pane active" id="tab-general">
									{% if ( languages ) %}
										<ul class="nav nav-tabs" id="language">
							                {% for language in languages %}
							                	<li><a href="#language{{ language.language_id }}" data-toggle="tab"><img src="language/{{ language.code }}/{{ language.code }}.png" title="{{ language.name }}" /> {{ language.name }}</a></li>
							                {% endfor %}
						              	</ul>
						              	<div class="tab-content">
						              		{% for language in languages %}
						              			<div class="tab-pane" id="language{{ language.language_id }}">
						              				{# post title #}
						              				<div class="form-group required">
									                    <label class="col-sm-2 control-label" for="input-name{{ language.language_id }}">{{ entry_post_name }}</label>
									                    <div class="col-sm-10">
															<input type="text" name="post_data[{{ language.language_id }}][name]" value="{{ post_data[language.language_id] ? post_data[language.language_id].name }}" placeholder="{{ entry_post_name }}" id="input-name{{ language.language_id }}" class="form-control" />
															{% if errors[language.language_id] %}
																<div class="text-danger">{{ errors[language.language_id] }}</div>
															{% endif %}
									                  	</div>
								                  	</div>
								                  	{# end post title #}
								                  	{# content #}
								                  	<div class="form-group">
								                    	<label class="col-sm-2 control-label" for="input-content{{ language.language_id }}">{{ entry_content }}</label>
								                    	<div class="col-sm-10">
								                      		<textarea name="post_data[{{ language.language_id }}][content]" placeholder="{{ entry_content }}" id="input-content{{ language.language_id }}" data-toggle="summernote" data-lang="{{ summernote }}" class="form-control">{{ post_data[language.language_id] ? post_data[language.language_id].content }}</textarea>
								                    	</div>
								                  	</div>
								                  	{# end content #}
								                  	{# short description #}
													<div class="form-group">
								                    	<label class="col-sm-2 control-label" for="input-short-description{{ language.language_id }}">{{ entry_short_description }}</label>
								                    	<div class="col-sm-10">
								                      		<textarea name="post_data[{{ language.language_id }}][short_description]" rows="5" placeholder="{{ entry_short_description }}" id="input-short-description{{ language.language_id }}" class="form-control">{{ post_data[language.language_id] ? post_data[language.language_id].short_description }}</textarea>
								                    	</div>
								                  	</div>
								                  	{# end short description #}
								                  	{# meta title #}
								                  	<div class="form-group required">
									                    <label class="col-sm-2 control-label" for="input-meta-title{{ language.language_id }}">{{ entry_meta_title }}</label>
									                    <div class="col-sm-10">
									                      	<input type="text" name="post_data[{{ language.language_id }}][meta_title]" value="{{ post_data[language.language_id] ? post_data[language.language_id].meta_title }}" placeholder="{{ entry_meta_title }}" id="input-meta-title{{ language.language_id }}" class="form-control" />
									                      	{% if error_meta_title[language.language_id] %}
								                      			<div class="text-danger">{{ error_meta_title[language.language_id] }}</div>
									                      	{% endif %}
								                     	</div>
								                  	</div>
								                  	{# end meta title #}
								                  	{# meta description #}
								                  	<div class="form-group">
									                    <label class="col-sm-2 control-label" for="input-meta-description{{ language.language_id }}">{{ entry_meta_description }}</label>
									                    <div class="col-sm-10">
								                      		<textarea name="post_data[{{ language.language_id }}][meta_description]" rows="3" placeholder="{{ entry_meta_description }}" id="input-meta-description{{ language.language_id }}" class="form-control">{{ post_data[language.language_id] ? post_data[language.language_id].meta_description }}</textarea>
									                    </div>
								                  	</div>
								                  	{# end meta description #}
								                  	{# keyword #}
							                  		<div class="form-group">
									                    <label class="col-sm-2 control-label" for="input-meta-keyword{{ language.language_id }}">{{ entry_meta_keyword }}</label>
									                    <div class="col-sm-10">
								                      		<textarea name="post_data[{{ language.language_id }}][meta_keyword]" rows="3" placeholder="{{ entry_meta_keyword }}" id="input-meta-keyword{{ language.language_id }}" class="form-control">{{ post_data[language.language_id] ? post_data[language.language_id].meta_keyword }}</textarea>
									                    </div>
								                  	</div>
								                  	{# end keyword #}
						              			</div>
						              		{% endfor %}
						              	</div>
					              	{% endif %}
								</div>
								{# end panel-general #}
							</div>
						</form>
		    		</div>
		  		</div>
			</div>
			{# End Main Panel #}
  		</div>
	</div>
</div>
<script type="text/javascript">
	$('#language a:first').tab('show');
</script>
{{ footer }}