{% if comment %}
	<li class="comment row" data-comment="{{ comment.comment_id }}">
		<div class="avatar col-sm-1">
			<img src="{{ comment.thumb }}" alt="{{ comment.comment_name }}" />
		</div>
		<div class="comment-content col-sm-11">
			<header>
				<div class="name">
					<strong>{{ comment.comment_name }}</strong>
				</div>
				<div class="comment-date">
					<time>{{ comment.date_added | date( [ date_format, ' ', time_format ] | join() ) }}</time>
				</div>
			</header>
			{% if comment.comment_title %}
				<div class="comment-title">
					<h4>{{ comment.comment_title }}</h4>
				</div>
			{% endif %}
			{% if comment.comment_text %}
				<div class="comment-text">
					{{ comment.comment_text }}
				</div>
				{% if can_reply %}
					<p>
						<a href="#" class="reply-comment"><i class="fa fa-reply"></i> {{ text_reply }}</a>
					</p>
					{% if comment.comments %}
						<div class="comment-list">
							<ol>
								{% for sub in comment.comments %}
									{% include 'pavoblog/comment/loop-comment.twig' with { 'comment' : sub } %}
								{% endfor %}
							</ol>
						</div>
					{% endif %}
				{% endif %}
			{% endif %}
		</div>
	</li>
{% endif %}